*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
.imgBx img{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.contentBx .formBx{
    width: 50%;
}
.contentBx .formBx h2{
    color: #4149af;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #e42e6a;
    display: inline-block;
    letter-spacing: 1px;
}
.contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
.contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
.contentBx .formBx .inputBx select{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    /* color: #607d8b; */
    background: transparent;
    border-radius: 30px;
    border-radius: 30px 30px 30px 30px;
}

/* .contentBx .formBx .inputBx select:hover{    
    background: #a59b9e;
} */
.contentBx .formBx .inputBx button[type="submit"]{    
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    background:#e91e63;
    border-radius: 30px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}
/* 
span{
    position: absolute;
    background: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius:50% ;
    animation: animate 1% linear infinite;
}
@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
} */
.contentBx .formBx .inputBx button[type="submit"]:hover{    
    background: #bd1d52;
}
.contentBx .formBx .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
.contentBx .formBx .inputBx p{
    color: #607d8b;
}
.contentBx .formBx .inputBx p a{
    color: #ff4584;
}
/* .contentBx .formBx .inputBx p a:hover{
    background: #74505e;
} */
@media (max-width: 768px){
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:100%;
        z-index: 1;
        
    }
    section .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255/0.9);
        margin: 50px;
    }
}
